<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HVH</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <h1>Health Vigilance Hub</h1>
        <nav>
            <ul>
                
                <li><a href="#">Profile</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero" id="home">
        <h1>WELCOME</h1>
        <p>A predictive outbreak alert system to safeguard communities through data-driven insights .</p>
        <button type="submit">BOOK MY OP</button>
    </section>

    <section class="features" id="features">
        <div class="feature">
            <img src="https://i.pinimg.com/736x/35/c1/14/35c11477d386737c8890f6cc0c0cd2d7.jpg" alt="Risk Maps" >
            
            <h3>Localized Risk Maps</h3>
            <p>View interactive heatmaps of outbreak trends in your area.</p>
        </div>
        <div class="feature">
            <img src="https://i.pinimg.com/736x/73/7b/8e/737b8efcc1f8da2672394281eaf95249.jpg" alt="Gamification">
            <h3>Meet doctor online</h3>
            <p>consultation made easier meet your doctor virtually.</p>
        </div>
        <div class="feature">
            <img src="https://i.pinimg.com/736x/48/c9/18/48c918ff79bedb3c6ae598ae7539ba81.jpg" alt="Offline Access">
            <h3>Book my slot</h3>
            <p>Book your vaccine slots in advance at your nearest hospital.</p>
        </div>
        <div class="feature">
            <img src="https://i.pinimg.com/736x/b4/e4/77/b4e477617a0d53a128e80839d79f0960.jpg" alt="Community Alerts">
            <h3>Community Alerts</h3>
            <p>Receive real-time updates and public health guidance.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 HVH Platform. All rights reserved.</p>
    </footer>
</body>
</html>
